TODO.txt
NOTES.txt
USEFUL-LINKS.md

## editors
/.idea
/.vscode

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log

## testing
/coverage/

## temp folders
/.tmp/

# build
/_site/
/dist/
/dist-mobile/

# working folders
/src/_working/
/demo/_working/

