<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        html,
        body {
            background-color: aqua;
            margin: 0;
            padding: 0;
            font-family: 'Roboto', 'Noto Sans SC', sans-serif;
        }

        app-1-view-1-dialog-child-content {
            min-width: 250px;
            min-height: 150px;
        }
    </style>
</head>

<body>
    <app-1-view-1-dialog-child-content></app-1-view-1-dialog-child-content>

    <script type="module">
        import './app-1-view-1-dialog-child-content.js';
    </script>

    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:400,500&display=swap');
    </style>
</body>

</html>